@model dev_backend_habitly_eixo2.Models.Habito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habito</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TituloHabito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TituloHabito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoHabito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoHabito)
        </dd>

        @* 🎯 NOVOS CAMPOS DE DATA *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        @* 🎯 FIM NOVOS CAMPOS DE DATA *@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusHabito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusHabito)
        </dd>
    </dl>
</div>
<a asp-controller="Checkins"
   asp-action="Historico"
   asp-route-habitoId="@Model.IdHabito">
    Ver histórico de check-ins
</a>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHabito">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.IdHabito">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>