@model IEnumerable<dev_backend_habitly_eixo2.Models.Habito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloHabito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoHabito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodicidadeHabito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusHabito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloHabito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoHabito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodicidadeHabito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusHabito)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabito">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHabito">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHabito">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
