@model dev_backend_habitly_eixo2.Models.Metrica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Metrica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreakAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreakAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreakMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreakMaximo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMetrica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
